
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --font-reg-blue: rgba(21,169,241,1);
    --font-strong-blue: rgba(3,60,135,1);
  }

body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

p{
    color: #555;
}

/*Navigation Css*/

.ws-nav-logo{
    margin: 30px 0px 0px 120px;
}

.ws-navigation{
     display: flex;
     justify-content: space-between;
}

.ws-nav-links{
  margin: 30px 120px 0px 0px;
  color: var(--font-reg-blue);
}

.ws-nav-links ul{
  width: 100%;
  display:flex;
  justify-content:space-between;
}

.ws-navigation ul li{
    list-style-type: none;
    font-size: 16px;
}

.ws-navigation ul li:hover{
    color: var(--font-strong-blue);
    cursor: pointer;
}

/*Header Styles*/

.ws-header{
    position: relative;
}

.ws-header-image{
    background-image: url("/src/ws-banner-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 720px;
}

.ws-header-discription{
    position: absolute;
width: 411px;
height: 302px;
left: 240px;
top: 218px;
}

.ws-header-title-dicription{
font-family: Poppins;
font-size: 42px;
font-style: normal;
font-weight: 600;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
color: var(--font-strong-blue);
}

.ws-header-sub-dicription{
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
}

.ws-header-btn{
    width: 229px;
    height: 50px;
    background-color: #15A9F1;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 8px 40px;
    border: none;
}

/* Dialog Boxes*/

.ws-dialog-box-container{
    display: flex;
    justify-content: space-around;
}


.ws-dialog-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 276px;
    height: 298px;
    background: #FBFBFB;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.1);
    margin: 90px 0px 90px 0px
}

h3{
    color: var(--font-strong-blue);
}

.ws-dialog-box p{ 
    font-size: 16px;
    color: rgba(85,85,85,1);
    width: 80%;
    text-align: center;
}

/* Elevator Picture Contailer*/

.ws-elevator-container{
    background: #F9F9F9;
    height: 602px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ws-elevator-picture{
    background-image: url("/src/ws-elevator-front.png");
    width: 416px;
    height: 528px;
    mix-blend-mode: darken;
    margin-left: 236px;
}

.ws-elevatior-discription{
    width: 480px;
}


h2{
    color: rgba(21,62,115,1);
}

.ws-hero{
    position: relative;
}

.ws-hero img{
    width: 100%;
    height: 397px;
    background-repeat: no-repeat;
}

.ws-hero-quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ws-hero-quote h2{
      color: rgba(249,249,249,1)
  }