
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --font-reg-blue: rgba(21,169,241,1);
    --font-strong-blue: rgba(3,60,135,1);
  }

body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

p{
    color: #555;
}

/*Navigation Css*/

.ws-nav-logo{
    margin: 30px 0px 0px 120px;
}

.ws-navigation{
     display: flex;
     justify-content: space-between;
}

.ws-nav-links{
  margin: 30px 120px 0px 0px;
  color: var(--font-reg-blue);
}

.ws-nav-links a{
    text-decoration: none;
    color: var(--font-reg-blue);
}

.ws-nav-links ul{
  width: 100%;
  display:flex;
  justify-content:space-between;
}

.ws-navigation ul li{
    list-style-type: none;
    font-size: 16px;
}

.ws-navigation a:hover{
    color: var(--font-strong-blue);
    cursor: pointer;
}

/*Navigation Mobile Css*/
.ws-navigation-mobile{
    display: none;
}

@media (max-width: 1140px){
    .ws-navigation-mobile{
        display: block;
    }
    .ws-navigation{
        display:none
    }
}

/*Header Styles*/

.ws-header{
    position: relative;
}

.ws-header-image{
    background-image: url("/src/ws-banner-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 720px;
}

.ws-header-discription{
    position: absolute;
width: 411px;
height: 302px;
left: 240px;
top: 218px;
}

.ws-header-title-dicription{
font-family: Poppins;
font-size: 42px;
font-style: normal;
font-weight: 600;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
color: var(--font-strong-blue);
}

.ws-header-sub-dicription{
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
}

.ws-header-btn{
    width: 229px;
    height: 50px;
    background-color: #15A9F1;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 8px 40px;
    border: none;
}

/* Dialog Boxes*/

.ws-dialog-box-container{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, auto);
}


.ws-dialog-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 276px;
    height: 298px;
    background: #FBFBFB;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.1);
    margin: 90px 0px 90px 0px
}

h3{
    color: var(--font-strong-blue);
}

.ws-dialog-box p{ 
    font-size: 16px;
    color: rgba(85,85,85,1);
    width: 80%;
    text-align: center;
}

/* Elevator Picture Contailer*/

.ws-elevator-container{
    background: #F9F9F9;
    height: 602px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ws-elevator-picture{
    background-image: url("/src/ws-elevator-front.png");
    width: 416px;
    height: 528px;
    mix-blend-mode: darken;
    margin-left: 236px;
}

.ws-elevatior-discription{
    width: 480px;
}


h2{
    color: rgba(21,62,115,1);
}

.ws-hero{
    position: relative;
    background-image: url('/src/ws-hero-img.jpg');
    background-repeat: no-repeat;
}

.ws-hero img{
    width: 100%;
    height: 397px;
    background-repeat: no-repeat;
}

.ws-hero-quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ws-hero-mobile{
      display: none;
  }

  .ws-hero-quote h2{
      color: rgba(249,249,249,1)
  }

  /*Contact Form*/

  .ws-contact-container{
      background-color:rbga(249,249,249,1);
      height: 683px;
  }

  .ws-contact{
      display: flex;
      justify-content: space-around;
  }
  


  .ws-contact-info{
    width:480px;
    margin-top: 204px;
  }

  .ws-contact-form{
    width: 600px;
    height: 503px;
    margin-top: 90px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.1);
  }

  form{
      display: flex;
  }

  .ws-footer-container{
    height: 334px;
    width: auto;
    background: #033C87;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    justify-content: space-evenly;
    align-items: center;
  }

  .ws-footer-logo{
      background-image: url("/src/ws-footer-logo.svg");
      width:200px;
      height: 59px;
      background-repeat: no-repeat;
  }

  .ws-footer-links a{
      text-decoration: none;
      color:rgba(249,249,249,1);
      font-weight: 200;
      margin-right: 40px;
  }

  .ws-footer-socialmedia a{
    margin-right: 20px;
  }

  .ws-footer-copyrights{
    border-top: 1px solid #FFFFFF;
  }
  .ws-footer-copyrights p{
      color:white !important;
      opacity:initial;
      font-weight: 200;
  }

/*Media Queries*/

  @media (max-width: 1140px){
    .ws-navigation-mobile{
        display: block;
        display: flex;
        justify-content: space-between;
    }
    .ws-navigation{
        display:none
    }
    .ws-nav-logo {
        margin: 0px;
    }

    .ws-nav-logo img{
        margin: 10px 20px;
    }
    .ws-nav-links {
        margin: 30px;
        color: var(--font-reg-blue);
    }
    .ws-dialog-box-container{
        grid-template-columns: repeat(2, auto);
        justify-content: space-around;
    }
    .ws-elevator-container{
    flex-direction: column;
     height: 948px;
    }
    .ws-elevator-picture{
        margin: 0px;
        order: 2;
    }
    .ws-contact-container{
        height: 925px;
    }
    .ws-contact{
        flex-direction: column;
        align-items: center;
    }
    .ws-contact-info{
        margin: 0px;
    }
    .ws-footer-links a{
        margin: 0px;
    }
}

@media (max-width: 768px){
    .ws-header-image{
        background-image: url("/src/ws-banner-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.87;
        height: 1010px;
    }
    .ws-dialog-box-container{
        grid-template-columns: repeat(1, auto);
    }
    .ws-hero-desktop{
        display: none;
    }
    .ws-hero-mobile{
        display: block;
    }
    .ws-hero-quote{
        width: 80%;
    }
    .ws-contact-info{
        width: 295px;
    }
    .ws-contact-form{
        width: 320px; 
    }
    .ws-header-title-dicription{
        font-size: 32px;
    }
    .ws-header-discription {
        left:0px;
        top: 640px;
        width: 80%;
        margin-left: 60px;
    }
    .ws-elevatior-discription{
        width: 80%;
    }

    .ws-footer-links{
    flex-direction: column;
    display: flex;
    text-align: center;
    }
    .ws-elevator-picture {
        width: 360px;
    }

}